.div-form {
  display: flex;
  flex-flow: column;
  padding: 20px;
  background-color: #fafbfc;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.75);
}
